body {
    background: #ddd;
    text-align: center;
    padding: 0 25px;
    font-family: Arial, sans-serif;
    height: 600px;
}

#main {
    width: 800px;
    margin: auto;
    text-align: left;
    background: #fff;
    padding: 50px 60px;
    border: solid #ccc;
    border-width: 0 1px 1px 1px;
    height: 100%;
}

#main h1 {
    margin: 0;
    font-size: 35px;
    position: relative;
}

.chatbox {
    width: 70%;
    height: 400px;
    margin: 0 auto;
    background-color: #DEF;
    padding: 20px;
    vertical-align: top;
    float:left;
    overflow-y: scroll;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
}

.chatrooms {
    width: 15%;
    height: 400px;
    background-color: #FFF;
    padding: 20px;
    float:right;
    vertical-align: top;
    position: relative;
}

.roomname {
    cursor: pointer;
}

.textbox {
    width: 65%;
}

.messagebox {
    margin-bottom: 6px;
}